.namaste-form label {
	font-weight:bold;
	min-width: 150px;
	display:block;
	float:left;
}

.namaste-box {padding:10px;}

.namaste-error {
	color: red;
	font-weight: bold;
}

.namaste-note {
	background-color: #E5FFF5;
	padding: 5px;
	font-weight: bold;
}


.namaste-dashed {
	border: 1px dashed black;
}

/* for completed/incomplete lessons and maybe other items */
.namaste-completed a {
	color:green;
}

.namaste-incomplete a {
	color:red;
	font-weight:bold;
}

/* Gradebook */
.namaste-gradebook {
   border: none !important;
}
.namaste-gradebook thead {
   position: sticky;
   position: -webkit-sticky;
   z-index: 4;
   top: 0;
}
.namaste-gradebook thead th {
   font-weight: bold;
}
.namaste-gradebook thead tr:first-child th {
   background: #d5d5d5;
   position: sticky;
   position: -webkit-sticky;
   z-index: 4;
   top: 0;
}
.namaste-gradebook thead tr:last-child th {
   position: sticky;
   position: -webkit-sticky;
   z-index: 4;
   top: 37px;
   background: #e3e3e3;
}

.namaste-gradebook thead {
   /* works correct only in FF, in Webkit the shadow disappears when scrolling down */
   transform: scale(1,1);
   -webkit-transform: scale(1,1);
   -moz-transform: scale(1,1);
   box-shadow: 0 1px 10px rgba(0,0,0,0.25);
   -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.25);
   -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.25);
}

.namaste-gradebook thead tr:last-child th, .namaste-gradebook thead th:first-child, .namaste-gradebook thead th:last-child {
   box-shadow: inset -1px -4px 4px -4px rgba(0,0,0,0.15);
}
.namaste-gradebook thead tr:last-child th {
   border-left: 1px solid #fff;
   border-right: 1px solid #ccc;
}
.namaste-gradebook thead th:first-child, .namaste-gradebook thead th:nth-child(2) {
   border-right: 1px solid #c2c2c2;
}
.namaste-gradebook thead th:last-child, .namaste-gradebook thead th:nth-child(2)  {
   border-left: 1px solid #ececec;
}

.namaste-gradebook tbody td:nth-child(1) {
   position: sticky;
   left: 0px;
   z-index: 3;
   min-width: 120px;
   background: #e3e3e3;
   background-image: linear-gradient(180deg, #ececec, #e3e3e3);
}

.namaste-gradebook tbody td:nth-child(1):before {
   box-shadow: -10px 0 10px -10px  rgba(0,0,0,0.35) inset;
   content: " ";
   height: 100%;
   top: 0;
   left: -10px;
   position: absolute;
   width: 10px;
   z-index: 2;
}
.namaste-gradebook tbody td:nth-child(1):after {
   box-shadow: 10px 0 10px -10px  rgba(0,0,0,0.35) inset;
   content: " ";
   height: 100%;
   position: absolute;
   top: 0;
   right: -10px;
   width: 10px;
   z-index: 2;
}

[role="region"][aria-labelledby][tabindex] {
   width: 100%;
   height: 100%;
   max-width: 90vw;
   max-height: 50vw;
   overflow: auto;
   border: 1px solid #c3c4c7;

}
[role="region"][aria-labelledby][tabindex]:focus {
   box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
   outline: 0;
}

/*@media only screen and (min-width: 782px) {
    .namaste-gradebook thead tr:first-child th { top: 32px; }
    .namaste-gradebook thead tr:last-child th { top: 68px; }
}*/